/include/
/src/library/
/src/vendor/
/vendor/
/build/
/imgui.ini
/data
!/data/PNG/Vector/Style 8/emote_exclamation.png
!/data/PNG/Vector/Style 8/emote_question.png
!/data/PNG/Vector/Style 8/emote_exclamations.png
!/data/blue_painted_planks.png
